html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #f5f7fa;
  background-image: url("https://images.unsplash.com/photo-1548783307-f63adc89d3d5?auto=format&fit=crop&w=1960&q=80");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
